body {
    background: rgb(202, 202, 202);
}

.flex {
  display:flex;
  flex-wrap: wrap;
}

.feria {

    flex: 1 0 calc(15% - 5px); 
    min-height: 350px;
    margin:5px;
    border:1px solid gray;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feria:hover {
    box-shadow: 0px 2px 1px 1px #535353;
    transform: translateY(5px);
}

.principal {
    background-color: gray;
    border: solid 4px white;
    border-radius: 5px;
}

.img {
    background: white;
    background-image: url(book.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
}

.rou {
    border: solid 4px gray;
}

.bg {
    border: solid 10px white;
    /*border-radius: 5px;*/
}

.bg2 {
    background: white;
}

.boton {
    background-color: rgb(42, 182, 42);
    color: white;
    text-decoration: none;
    border: solid 4px rgb(42, 182, 42);
    border-radius: 5px;
}

.bg3 {
    background: white;
    height: 100px;
}
